body {
  padding: 25px 25px 25px 25px;
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
}

.main-Header {
  display: flex;
  flex-direction: row;
  text-align: left;
  font-size: larger;
  font-family: cursive;
  font-weight: bolder;
  justify-content: space-between;
}

.contactInfo {
  display: flex;
  flex-direction: column;
}

.main-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shrimpPlate {
  width: 70%;
  height: auto;
  border-radius: 10px;
}

.brunch-Menu {
padding: 100px 50px;




}

.brunchImage {

    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.brunchTitle {

    font-family: cursive;
}


ul{
 list-style-type: none;
}

.ingredients, p {
    font-size: 14pt;
}

.ingredients:hover {
    background-color: white;
}
